{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="mt-5">
  <div class="text-center">
    <img src="{% static 'core/images/IMG_0490.png' %}" alt="profilepic" class="img-thumbnail" width="250px" height="150px">
  </div>
  <div class="mt-5 text-white mx-5 text-justify">
      <h1 class="font-weight-bold st-font">
            HELLO,
      </h1>
      <div>
          <p style="text-indent: 100px;"> I am <b class="text-warning">sadan subedi</b>,
            Currently studying BSC CSIT ,beside it working on python/django project, love to build project.I am pursue of becoming software engineer.
             I love watching movie,singing listening song, love to communicate with people, believe in team work.
          </p>
      </div>
  </div>
   <div class="text-center">
    <a href="{% url 'contact' %}" class="btn btn-outline-warning my-3 mr-5">Hire me</a>
    <a href="{% url 'contact' %}" class="btn btn-outline-info my-3">contact</a>
   </div>
</div>
{% endblock content %} 
