{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="mt-5">
  <div class="text-center">
    <img src="{% static 'core/images/IMG_0490.png' %}" alt="profilepic" class="img-thumbnail" width="250px" height="150px">
  </div>
  <div class="mt-5 text-white">
      <h1 class="font-weight-bold st-font">
            HELLO,
      </h1>
      <div>
          <p style="text-indent: 100px;"> I am <b class="text-warning">sadan subedi</b>
              Lorem ipsum dolor sit, amet consectetur adipisic
              ing elit. Sunt molestiae minus asperiores aliquam, veniam nobis fugit
               adipisci dolorem a ipsam perferendis necessitatibus
               ullam. Dolores illo minima nulla. Amet, quia quae?
               k lekham k lekham vayo so...... j pai tei hehe aaru k lehney vaney socheko rati ko 
               12 baji sakey xa aba sutnai mann nai lagena so i want to complete it anyhow 
          </p>
      </div>
  </div>
   <div class="text-center">
    <a href="{% url 'contact' %}" class="btn btn-outline-warning my-3 mr-5">Hire me</a>
    <a href="{% url 'contact' %}" class="btn btn-outline-info my-3">contact</a>
   </div>
</div>
{% endblock content %} 
